version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    groups:
      github-actions:
        patterns:
          - '*'

  - package-ecosystem: uv
    directories:
      - /
      - /examples/**/
    schedule:
      interval: daily
    ignore:
      - dependency-name: "tox"
    groups:
      python-dependencies:
        patterns:
          - '*'
