syntax: glob
*~
*.pyc
*.pyo
*.swp
*-swp
*.out
*.log
*.bak
*.orig
*.db
*.pydevproject
*.project
*.settings
*.directory
*.coverage
__pycache__
src/**/build/*
Flask_JSONRPC.egg-info/*
build/*
dist/*
.eggs/
.venv/
.venv2/
htmlcov/
