services:
  python3.12:
    build:
      context: .
      dockerfile: Dockerfile.py312.test
    environment:
      - PRAGMA_VERSION=py3.12
    command: >
      sh -c "ruff check . &&
        pytest"

  python3.11:
    build:
      context: .
      dockerfile: Dockerfile.py311.test
    environment:
      - PRAGMA_VERSION=py3.11
    command: >
      sh -c "ruff check . &&
        pytest"

  python3.10:
    build:
      context: .
      dockerfile: Dockerfile.py310.test
    environment:
      - PRAGMA_VERSION=py3.10
    command: >
      sh -c "ruff check . &&
        pytest"

  python3.9:
    build:
      context: .
      dockerfile: Dockerfile.py39.test
    environment:
      - PRAGMA_VERSION=py3.9
    command: >
      sh -c "ruff check . &&
        pytest"

  python3.8:
    build:
      context: .
      dockerfile: Dockerfile.py38.test
    environment:
      - PRAGMA_VERSION=py3.8
    command: >
      sh -c "ruff check . &&
        pytest"
