{% raw %}
<script type="text/ng-template" id="module_dialog.html">
<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><span class="glyphicon glyphicon-star"></span> {{module.name}}(<span ng-repeat="param in module.params">{{param.name}}: {{param.type}}<span ng-if="!$last">, </span></span>) -> {{module.returns.type}}</h4>
      </div>
      <div class="modal-body">
        <span ng-if="module.description"><b>Description:</b> <span class="method-description" ng-bind-html="module.description|markdown"></span></span>
        <p ng-if="module.params.length > 0">
          <input type="radio" ng-model="options.inputMode" ng-change="onInputModeChange()" id="inputModeFormData" value="formData"> <label for="inputModeFormData">form-data</label>
          <input type="radio" ng-model="options.inputMode" ng-change="onInputModeChange()" id="inputModeRaw" value="raw"> <label for="inputModeRaw">raw</label>
        </p>
        <ng-form name="nameDialog" novalidate role="form">
          <div ng-if="options.inputMode === 'raw'">
            <code-mirror ng-model="rawInput" on-change="handleRawInputChange(newValue, oldValue)"></code-mirror>
          </div>
          <div ng-if="options.inputMode === 'formData'">
            <div class="form-group input-group-lg">
              <span ng-repeat="param in module.params">
                <label class="control-label" for="{{param.name}}">{{param.name}} -> {{param.type}}: </label><input type="text" class="form-control" name="{{param.name}}" id="{{param.name}}" ng-model="param.value" ng-keyup="hitEnter($event)" required>
                <span class="help-block"></span>
              </span>
              <span ng-show="module.options.notification">
                <label class="control-label" for="notify">Is a notify?</label><input type="checkbox" class="form-control" name="notify" id="notify" ng-model="module.notify" />
              </span>
            </div>
          </div>
        </ng-form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary btn-blue btn-sm" ng-click="ok()">Run</button>
      </div>
      </div>
  </div>
</div>
</script>
{% endraw %}

{% raw %}
<div class="content-main">
  <div class="method-documentation">
    <div class="method-header">
      <h1 class="method-title">
        {{module.name}}
        <span class="badge" ng-if="module.deprecated">DEPRECATED</span>
      </h1>

      <div class="method-signature">
        <code>
          {{module.name}}(<span ng-repeat="param in module.params">{{param.name}}<span ng-if="param.required" class="required">*</span>: {{param.type}}<span ng-if="!$last">, </span></span>) -> {{module.returns.type}}
        </code>
      </div>
    </div>

    <div class="method-tags" ng-if="module.tags && module.tags.length">
      <span class="label label-info" ng-repeat="tag in module.tags">{{tag}}</span>
    </div>

    <div class="method-info">
      <div ng-show="module.summary" class="method-summary">
        <h3 ng-bind-html="module.summary|markdown"></h3>
      </div>

      <div ng-show="module.description" class="method-description">
        <div ng-bind-html="module.description|markdown"></div>
      </div>
    </div>

    <div class="method-behavior">
      <h3>Behavior</h3>
      <ul class="list-unstyled">
        <li><i class="icon" ng-class="module.validation ? 'icon-check text-success' : 'icon-ban-circle text-danger'"></i> Validation: {{module.validation ? 'Enabled' : 'Disabled'}}</li>
        <li><i class="icon" ng-class="module.notification ? 'icon-check text-success' : 'icon-ban-circle text-danger'"></i> Supports Notifications: {{module.notification ? 'Yes' : 'No'}}</li>
      </ul>
    </div>

    <div class="method-parameters" ng-if="module.params && module.params.length">
      <h3>Parameters</h3>
      <div ng-repeat="param in module.params" class="parameter-item">
        <field-describe field="param"></field-describe>
      </div>
    </div>

    <div class="method-returns">
      <h3>Returns</h3>
      <field-describe field="module.returns"></field-describe>
    </div>

    <div class="method-examples" ng-if="module.examples && module.examples.length">
      <h3>Examples</h3>
      <div ng-repeat="example in module.examples" class="example-item">
        <example-describe example="example"></example-describe>
      </div>
    </div>

    <div class="method-errors" ng-if="module.errors && module.errors.length">
      <h3>Possible Errors</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Code</th>
            <th>Message</th>
            <th>HTTP Status</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="error in module.errors">
            <td><code>{{error.code}}</code></td>
            <td>{{error.message}}</td>
            <td>{{error.status_code}}</td>
            <td><code>{{error.data | json}}</code></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-show="showRequestResponsePanel()" class="request-response-panel-opened"></div>
  </div>

  <div ng-show="showRequestResponsePanel()" class="request-response-panel">
    <div class="request-response-header">
      <h3 class="request-response-title">Request & Response</h3>
      <button class="request-response-close" ng-click="closeRequestResponsePanel()" title="Close">&times;</button>
    </div>
    <div class="request-response-body">
      <div class="request-response-section">
        <div class="request-response-section-title"><b>Request:</b></div>
        <div class="request-response-content">
          <pre class="prettyprint"><b>{{ response.config.method }}</b> {{ response.config.url }}
<span ng-bind-html="requestObject|json|prettyprint" class="request-content"></span></pre>
        </div>
      </div>
      <div class="request-response-section">
        <div class="request-response-section-title"><b>Response:</b></div>
        <div class="request-response-content">
          <pre class="prettyprint"><div class="meta nocode"><b>HTTP {{ response.statusCode }}{{ response.status }}</b>
<span ng-bind-html="responseObject|json|prettyprint" class="response-content"></span></div></pre>
        </div>
      </div>
    </div>
  </div>
</div>
{% endraw %}
