<!DOCTYPE html>
<html lang="en" ng-app="{% block app_name %}{% endblock %}">
<head>
{% block head %}

  {% block meta %}
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{ browse_title }} | {{ browse_description }}" />
  <meta name="author" content="Cenobit Techonologies Inc. http://cenobit.es/" />
  <meta name="robots" content="NONE,NOARCHIVE" />
  {% endblock %}

  <title>{% block title %}{{ browse_title }}{% endblock %}</title>

  {% block favicon %}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('urn:browse.static', filename='apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('urn:browse.static', filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('urn:browse.static', filename='favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('urn:browse.static', filename='site.webmanifest') }}">
  {% endblock %}

  {% block style %}
  {% block bootstrap_theme %}
    <link href="{{ url_for('urn:browse.static', filename='css/bootstrap-theme.css') }}" rel="stylesheet"/>
  {% endblock %}
  <link href="{{ url_for('urn:browse.static', filename='css/fonts.css') }}" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('urn:browse.static', filename='css/prettify.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('urn:browse.static', filename='css/loading-bar.min.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('urn:browse.static', filename='css/codemirror.min.css') }}"/>
  {% block include_style %}
  {% endblock %}
  {% endblock %}

  <script type="text/javascript">
    var _URL_PREFIX = '{{url_prefix}}',
        _SERVER_URLS = JSON.parse('{{server_urls | tojson | safe}}');
  </script>

  {% block templates_js %}{% endblock %}

{% endblock %}
</head>

<body id="{% block bodyid %}{% endblock %}">
  {% block page %}
  <div class="wrapper" ng-controller="ApplicationCtrl">

  {% block navbar %}
  <nav id="navbar-main" class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
    <div class="navbar-header">
      <a class='navbar-brand' href='{{ browse_title_url }}'>{{ browse_title }}</a>
    </div>
  </nav>
  {% endblock %}

  <div id="content" ng-hide="showFakeIntro">
  {% block content %}{% endblock %}
  </div>

  </div>
  {% endblock %}

  {% block footer %}{% endblock %}

  {% block script %}
  <script type="text/javascript" src="{{ url_for('urn:browse.static', filename='js/libs/jquery/jquery-3.7.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('urn:browse.static', filename='js/libs/angular/angular.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('urn:browse.static', filename='js/libs/angular/angular-route.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('urn:browse.static', filename='js/libs/angular/angular-resource.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('urn:browse.static', filename='js/libs/angular/angular-sanitize.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('urn:browse.static', filename='js/libs/angular/angular-animate.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('urn:browse.static', filename='js/libs/angular/ui-bootstrap-0.7.0.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('urn:browse.static', filename='js/libs/angular/ui-bootstrap-tpls-0.7.0.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('urn:browse.static', filename='js/libs/angular/loading-bar.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('urn:browse.static', filename='js/libs/bootstrap/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('urn:browse.static', filename='js/libs/handlebars-v4.7.7.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('urn:browse.static', filename='js/libs/prettify-min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('urn:browse.static', filename='js/libs/marked.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('urn:browse.static', filename='js/libs/codemirror.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('urn:browse.static', filename='js/libs/codemirror-javascript.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('urn:browse.static', filename='js/core/directives.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('urn:browse.static', filename='js/core/filters.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('urn:browse.static', filename='js/core/services.js') }}"></script>
  {% block include_script %}{% endblock %}
  <script type="text/javascript" src="{{ url_for('urn:browse.static', filename='js/main.js') }}"></script>
  {% endblock %}

</body>
</html>
