name: On update

on:
  pull_request:
    types:
      - opened
  push:
    branches-ignore:
      - master
    tags-ignore:
      - v**

permissions:
  contents: read

jobs:
  test:
    name: Test, Style, Lint, Typing, Security and Docs
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - ubuntu-latest
        python-version: ["3.10"]
    steps:
    - name: Checkout source at ${{ matrix.platform }}
      uses: actions/checkout@v3
    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools tox
    - name: Run tox
      run: |
        tox -e py,py-async,style,typing,security,docs
